* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input {
  overflow: hidden;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul, li {
  direction: none;
  list-style: none;
}

i {
  font-style: normal;
}

@font-face {
  font-family: 'iconfont';
  src: url('../../src/assets/font/iconfont.eot');
  src: url('../../src/assets/font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../../src/assets/font/iconfont.woff') format('woff'),
  url('../../src/assets/font/iconfont.ttf') format('truetype'),
  url('../../src/assets/font/iconfont.svg#iconfont') format('svg');
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
  color:#666666;
}

input:-moz-placeholder,textarea:-moz-placeholder{
  color:#666666;
}

input::-moz-placeholder,textarea::-moz-placeholder{
  color:#666666;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
  color:#666666;
}
#app{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: none;
  //头部
  .b-header-box{
    min-width: 1300px;
    height: 87px;
    background:url("../img/header.png") no-repeat center;
    margin: 0 auto;
    .header-text{
      width: 224px;
      font-size: 30px;
      color: #ffffff;
      margin: 30px 0px 0px 35px;
      float: left;
    }
    .nav-box{
      height: 100%;
      position: relative;
      float: left;
      ul{
        width: 968px;
        height: 38px;
        position: absolute;
        bottom: 0;
        float: left;
        li{
          display: block;
          float: left;
          width: 152px;
          height: 38px;
          background-color: #169bd8;
          text-align: center;
          line-height: 38px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          margin: 0px 45px;
          a{
            display: block;
            width: 100%;
            height: 100%;
            color: #ffffff;
          }
        }
        :hover{
          cursor: pointer;
          background-color: #ffffff;
          color: #000;
        }
        .active{
          color: #000;
          background-color: #fff;
        }
        li:nth-child(4){
          margin-right: 0px;
        }
      }
    }
  }
  //头部底线
  .line{
    width: 100%;
    height: 16px;
    background-color: #fff;
  }
  .line2{
    width: 100%;
    height: 20px;
    background-color: #f2f3f7;
  }
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
button {
  border: none;
  &:hover {
    cursor: pointer;
  }
}
.position {
  height: 24px;
  font-size: 14px !important;
  color: #8f8f8f !important;
  border-bottom: 1px solid #8f8f8f !important;
  margin-bottom: 16px;
}
#use, #edit, #manage, #maintain {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  .sub_nav_box {
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    padding-top: 14px;
    position: absolute;
    left: 0;
    top: -16px;
    .sub_nav {
      width: 172px;
      li.sub_nav_li {
        width: 100%;
        height: 48px;
        border-top: 1px solid #ccc;
        line-height: 48px;
        font-size: 18px;
        color: #181818;
        overflow: visible;
        p {
          width: 100%;
          height: 100%;
          i:nth-child(1) {
            margin: 0 12px 0 12px;
          }
          i:nth-child(2) {
            margin-left: 26px;
          }
        }

      }
      .subson{
        width: 100%;
        padding-left: 45px;
        overflow: hidden;
        span{
          display: block;
          width: 120px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #545454;
          background-color: #f5f6f9;
          font-size: 18px;
          &:hover{
            cursor: pointer;
            color: #40aff5;
          }
        }
        .sp_active{
          color: #40aff5;
        }
      }
      .subsonH{
        height: 0px;
      }
      .active1 {
        background: url("../img/flag.png") no-repeat center/ 100%;
        color: #ffffff !important;
      }
      &:hover {
        cursor: pointer;
      }
      li.sub_nav_li:nth-last-child(1) {
        border-bottom: 1px solid #ccc;
      }
      .edit_sub {
        height: 0;
        width: 100%;
        font-size: 18px;
        color: #545454;
        overflow: hidden;
        ul.edit_sub_ul {
          width: 100%;
          li.edit_sub_ul_li {
            width: 120px;
            height: 40px;
            line-height: 40px;
            margin-left: 45px;
            background-color: #f5f6f9;
            text-align: center;
            &:hover {
              cursor: pointer;
              color: #40aff5;
            }
          }
          .active2 {
            color: #40aff5;
          }
        }
      }
      .edit_sub1 {
        height: auto;
      }
    }
  }
  .content {
    min-height: 900px;
    position: absolute;
    left: 172px;
    top: 0;
    float: left;
    border-left: 30px solid #f2f3f7;
    background-color: #fff;
    padding: 45px 0px 0px 90px;
  }
}
.console_box{
  min-width: 948px;
  height: 30px;
  .console{
    width: 212px;
    margin: 0 auto;
    margin-top: 30px;
    .console{
      width: 82px;
      height: 30px;
      text-align: center;
      line-height: 30px;
    }
    .c1{
      float: left;
    }
    .c2{
      float: right;
    }
    .console1{
      border: solid 1px #999999;
      background-color: transparent;
    }
    .console2{
      background-color: #169bd8;
      color: #ffffff;
    }
  }
}
.top{
  width: 948px;
  height: 28px;
  .top_left{
    float: left;
    height: 100%;
    .bule{
      width: 4px;
      height: 100%;
      background-color:#169bd8;
      float: left;
    }
    p{
      font-size: 18px;
      color: #454545;
      margin-left: 5px;
      float: left;
      line-height: 28px;
    }
  }
  .top_right{
    float: right;
    .name{
      float: left;
      width: 134px;
      height: 28px;
      font-size: 12px;
      color: #999;
      padding-left: 4px;
      margin-right: 14px;
    }
    .btn_search{
      float: right;
      width: 90px;
      height: 28px;
      background-color: #169bd8;
      border: none;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #fff;
    }
  }
}
.Info_div_box{
  width: 984px;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  .info_box{
    width: 424px;
    border: solid 1px #dedede;
    margin-bottom: 40px;
    .list_box{
      display: flex;
      height: 28px;
      width: 100%;
      justify-content: space-between;
      border-top: solid 1px #dedede;
      .touxiang{
        display: block;
        width: 55px;
        height: 74px;
        margin: 0 auto;
        margin-top: 3px;
      }
      .list_l{
        height: 100%;
        width: 95px;
        line-height: 28px;
        padding-left: 10px;
        color: #454545;
        font-size: 14px;
        border-right: solid 1px #dedede;
      }
      .list_r{
        flex:1;
        height: 28px;
        padding: 3px 0px 0px 3px;
        p{
          font-size: 14px;
          height: 28px;;
          line-height: 24px;
          color: #666666;
          padding-left: 6px;
          overflow: hidden;
          white-space: nowrap;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
        p.te{
          width: 306px;
          height: 74px;
          padding: 6px;
        }
        .inp{
          display: block;
          width: 280px;
          height: 22px;
          line-height: 22px;
          border: solid 1px #53b1dc;
          padding-left: 6px;
        }
        .zhuangctext{
          width: 306px;
          height: 74px;
          border: solid 1px #53b1dc;
          font-size: 14px;
          color: #666666;
        }
        .onlybox{
          width: 190px;
          height: 22px;
          .el-input__inner{
            width: 190px;
            height: 22px;
            border: solid 1px #53b1dc;
            border-radius:0px;
            color: #000;
          }
          .el-input__prefix,.el-input__suffix{
            height: 22px;
            i{
              height: 22px;
              line-height: 22px;
            }
          }
        }
      }
    }
    .list_l2{
      height: 80px;
      line-height: 80px;
      border:none;
      .list_l{
        line-height: 80px;
      }
    }
    .imgbox{
      height: 90px;
      .list_l{
        line-height: 90px;
      }
      .list_r{
        .pic1{
          display: block;
          width: 100px;
          height: 78px;
        }
        .pic{
          display: block;
          width: 55px;
          height: 74px;
        }
      }
    }
  }
}
.control_wear{
  width: 984px;
  height: 24px;
  padding: 0px 363px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .btn1,.btn2,.btn3{
    font-size: 16px;
    height: 24px;
    text-align: center;
    line-height: 22px;
  }
  .btn1{
    width: 50px;
    background-color: #169bd8;
    color: #ffffff;
  }
  .btn2{
    width: 120px;
    border: solid 1px #999999;
    background-color: transparent;
  }
  .btn3{
    width: 50px;
    border: solid 1px #999999;
    background-color: transparent;
  }
}
