@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #ffffff; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  text-decoration: none;
  color: #000; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input {
  overflow: hidden; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

ul, li {
  direction: none;
  list-style: none; }

i {
  font-style: normal; }

table, thead, tbody, tr, th, td {
  border: 1px solid #dedede;
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */ }

input {
  outline: none; }

input::-webkit-input-placeholder {
  font-size: 12px;
  color: #cccccc !important; }

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 12px;
  color: #cccccc !important; }

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 12px;
  color: #cccccc !important; }

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 12px;
  color: #cccccc !important; }

@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg"); }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666666; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #666666; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #666666; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #666666; }

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: none; }
  #app .b-header-box {
    min-width: 1300px;
    height: 87px;
    background: url("../../../static/img/header.png") no-repeat 100%;
    background: url("../../../static/img/header.png") repeat-x;
    margin: 0 auto; }
    #app .b-header-box .header-text {
      width: 224px;
      font-size: 30px;
      color: #ffffff;
      margin: 30px 0px 0px 35px;
      float: left; }
    #app .b-header-box .nav-box {
      height: 100%;
      position: relative;
      float: left; }
      #app .b-header-box .nav-box ul {
        width: 968px;
        height: 38px;
        position: absolute;
        bottom: 1px;
        float: left; }
        #app .b-header-box .nav-box ul li {
          display: block;
          float: left;
          width: 152px;
          height: 38px;
          background-color: #169bd8;
          text-align: center;
          line-height: 38px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          margin: 0px 45px; }
          #app .b-header-box .nav-box ul li a {
            display: block;
            width: 100%;
            height: 100%;
            color: #ffffff; }
        #app .b-header-box .nav-box ul :hover {
          cursor: pointer;
          background-color: #ffffff;
          color: #000; }
        #app .b-header-box .nav-box ul .active {
          color: #000;
          background-color: #fff; }
        #app .b-header-box .nav-box ul li:nth-child(4) {
          margin-right: 0px; }
  #app .line {
    width: 100%;
    height: 16px;
    background-color: #fff; }
  #app .line2 {
    width: 100%;
    height: 20px;
    background-color: #f2f3f7; }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

button {
  border: none; }
  button:hover {
    cursor: pointer; }

.position {
  height: 24px;
  font-size: 14px !important;
  color: #8f8f8f !important;
  border-bottom: 1px solid #8f8f8f !important;
  margin-bottom: 16px; }

#use, #edit, #manage, #maintain {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }
  #use .sub_nav_box, #edit .sub_nav_box, #manage .sub_nav_box, #maintain .sub_nav_box {
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    padding-top: 14px;
    position: absolute;
    left: 0;
    top: -16px; }
    #use .sub_nav_box .sub_nav, #edit .sub_nav_box .sub_nav, #manage .sub_nav_box .sub_nav, #maintain .sub_nav_box .sub_nav {
      width: 172px; }
      #use .sub_nav_box .sub_nav li.sub_nav_li, #edit .sub_nav_box .sub_nav li.sub_nav_li, #manage .sub_nav_box .sub_nav li.sub_nav_li, #maintain .sub_nav_box .sub_nav li.sub_nav_li {
        width: 100%;
        height: 48px;
        border-top: 1px solid #ccc;
        line-height: 48px;
        font-size: 18px;
        color: #181818;
        overflow: visible; }
        #use .sub_nav_box .sub_nav li.sub_nav_li p, #edit .sub_nav_box .sub_nav li.sub_nav_li p, #manage .sub_nav_box .sub_nav li.sub_nav_li p, #maintain .sub_nav_box .sub_nav li.sub_nav_li p {
          width: 100%;
          height: 100%; }
          #use .sub_nav_box .sub_nav li.sub_nav_li p i:nth-child(1), #edit .sub_nav_box .sub_nav li.sub_nav_li p i:nth-child(1), #manage .sub_nav_box .sub_nav li.sub_nav_li p i:nth-child(1), #maintain .sub_nav_box .sub_nav li.sub_nav_li p i:nth-child(1) {
            margin: 0 12px 0 12px; }
          #use .sub_nav_box .sub_nav li.sub_nav_li p i:nth-child(2), #edit .sub_nav_box .sub_nav li.sub_nav_li p i:nth-child(2), #manage .sub_nav_box .sub_nav li.sub_nav_li p i:nth-child(2), #maintain .sub_nav_box .sub_nav li.sub_nav_li p i:nth-child(2) {
            margin-left: 26px; }
      #use .sub_nav_box .sub_nav .subson, #edit .sub_nav_box .sub_nav .subson, #manage .sub_nav_box .sub_nav .subson, #maintain .sub_nav_box .sub_nav .subson {
        width: 100%;
        padding-left: 45px;
        overflow: hidden; }
        #use .sub_nav_box .sub_nav .subson span, #edit .sub_nav_box .sub_nav .subson span, #manage .sub_nav_box .sub_nav .subson span, #maintain .sub_nav_box .sub_nav .subson span {
          display: block;
          width: 120px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #545454;
          background-color: #f5f6f9;
          font-size: 18px; }
          #use .sub_nav_box .sub_nav .subson span:hover, #edit .sub_nav_box .sub_nav .subson span:hover, #manage .sub_nav_box .sub_nav .subson span:hover, #maintain .sub_nav_box .sub_nav .subson span:hover {
            cursor: pointer;
            color: #40aff5; }
        #use .sub_nav_box .sub_nav .subson .sp_active, #edit .sub_nav_box .sub_nav .subson .sp_active, #manage .sub_nav_box .sub_nav .subson .sp_active, #maintain .sub_nav_box .sub_nav .subson .sp_active {
          color: #40aff5; }
      #use .sub_nav_box .sub_nav .subsonH, #edit .sub_nav_box .sub_nav .subsonH, #manage .sub_nav_box .sub_nav .subsonH, #maintain .sub_nav_box .sub_nav .subsonH {
        height: 0px; }
      #use .sub_nav_box .sub_nav .active1, #edit .sub_nav_box .sub_nav .active1, #manage .sub_nav_box .sub_nav .active1, #maintain .sub_nav_box .sub_nav .active1 {
        background: url("../../../static/img/flag.png") no-repeat center/100%;
        color: #ffffff !important; }
      #use .sub_nav_box .sub_nav:hover, #edit .sub_nav_box .sub_nav:hover, #manage .sub_nav_box .sub_nav:hover, #maintain .sub_nav_box .sub_nav:hover {
        cursor: pointer; }
      #use .sub_nav_box .sub_nav li.sub_nav_li:nth-last-child(1), #edit .sub_nav_box .sub_nav li.sub_nav_li:nth-last-child(1), #manage .sub_nav_box .sub_nav li.sub_nav_li:nth-last-child(1), #maintain .sub_nav_box .sub_nav li.sub_nav_li:nth-last-child(1) {
        border-bottom: 1px solid #ccc; }
      #use .sub_nav_box .sub_nav .edit_sub, #edit .sub_nav_box .sub_nav .edit_sub, #manage .sub_nav_box .sub_nav .edit_sub, #maintain .sub_nav_box .sub_nav .edit_sub {
        height: 0;
        width: 100%;
        font-size: 18px;
        color: #545454;
        overflow: hidden; }
        #use .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul, #edit .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul, #manage .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul, #maintain .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul {
          width: 100%; }
          #use .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul li.edit_sub_ul_li, #edit .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul li.edit_sub_ul_li, #manage .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul li.edit_sub_ul_li, #maintain .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul li.edit_sub_ul_li {
            width: 120px;
            height: 40px;
            line-height: 40px;
            margin-left: 45px;
            background-color: #f5f6f9;
            text-align: center; }
            #use .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul li.edit_sub_ul_li:hover, #edit .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul li.edit_sub_ul_li:hover, #manage .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul li.edit_sub_ul_li:hover, #maintain .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul li.edit_sub_ul_li:hover {
              cursor: pointer;
              color: #40aff5; }
          #use .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul .active2, #edit .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul .active2, #manage .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul .active2, #maintain .sub_nav_box .sub_nav .edit_sub ul.edit_sub_ul .active2 {
            color: #40aff5; }
      #use .sub_nav_box .sub_nav .edit_sub1, #edit .sub_nav_box .sub_nav .edit_sub1, #manage .sub_nav_box .sub_nav .edit_sub1, #maintain .sub_nav_box .sub_nav .edit_sub1 {
        height: auto; }
  #use .content, #edit .content, #manage .content, #maintain .content {
    min-height: 900px;
    position: absolute;
    left: 172px;
    top: 0;
    float: left;
    border-left: 30px solid #f2f3f7;
    background-color: #ffffff;
    padding: 45px 0px 50px 90px; }

.console_box {
  min-width: 948px;
  height: 30px; }
  .console_box .console {
    width: 212px;
    margin: 0 auto;
    margin-top: 30px; }
    .console_box .console .console {
      width: 82px;
      height: 30px;
      text-align: center;
      line-height: 30px; }
    .console_box .console .c1 {
      float: left; }
    .console_box .console .c2 {
      float: right; }
    .console_box .console .console1 {
      border: solid 1px #999999;
      background-color: transparent; }
    .console_box .console .console2 {
      background-color: #169bd8;
      color: #ffffff; }

.top {
  width: 948px;
  height: 28px; }
  .top .top_left {
    float: left;
    height: 100%; }
    .top .top_left .bule {
      width: 4px;
      height: 100%;
      background-color: #169bd8;
      float: left; }
    .top .top_left p {
      font-size: 18px;
      color: #454545;
      margin-left: 5px;
      float: left;
      line-height: 28px; }
  .top .top_right {
    float: right; }
    .top .top_right .name {
      float: left;
      width: 134px;
      height: 28px;
      font-size: 12px;
      color: #999;
      padding-left: 4px;
      margin-right: 14px; }
    .top .top_right .btn_search {
      float: right;
      width: 90px;
      height: 28px;
      background-color: #169bd8;
      border: none;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #fff; }

.Info_div_box {
  width: 984px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .Info_div_box .info_box {
    width: 424px;
    border: solid 1px #dedede;
    margin-bottom: 40px; }
    .Info_div_box .info_box .list_box {
      display: flex;
      height: 28px;
      width: 100%;
      justify-content: space-between;
      border-top: solid 1px #dedede; }
      .Info_div_box .info_box .list_box .touxiang {
        display: block;
        width: 55px;
        height: 74px;
        margin: 0 auto;
        margin-top: 3px; }
      .Info_div_box .info_box .list_box .list_l {
        height: 100%;
        width: 95px;
        line-height: 28px;
        padding-left: 10px;
        color: #454545;
        font-size: 14px;
        border-right: solid 1px #dedede; }
      .Info_div_box .info_box .list_box .list_r {
        flex: 1;
        height: 28px;
        padding: 3px 0px 0px 3px; }
        .Info_div_box .info_box .list_box .list_r p {
          font-size: 14px;
          height: 28px;
          line-height: 24px;
          color: #666666;
          padding-left: 6px;
          overflow: hidden;
          white-space: nowrap;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis; }
        .Info_div_box .info_box .list_box .list_r p.te {
          width: 306px;
          height: 74px;
          padding: 6px; }
        .Info_div_box .info_box .list_box .list_r .inp {
          display: block;
          width: 280px;
          height: 22px;
          line-height: 22px;
          border: solid 1px #53b1dc;
          padding-left: 6px; }
        .Info_div_box .info_box .list_box .list_r .zhuangctext {
          width: 306px;
          height: 74px;
          border: solid 1px #53b1dc;
          font-size: 14px;
          color: #666666; }
        .Info_div_box .info_box .list_box .list_r .onlybox {
          width: 190px;
          height: 22px; }
          .Info_div_box .info_box .list_box .list_r .onlybox .el-input__inner {
            width: 190px;
            height: 22px;
            border: solid 1px #53b1dc;
            border-radius: 0px;
            color: #000; }
          .Info_div_box .info_box .list_box .list_r .onlybox .el-input__prefix, .Info_div_box .info_box .list_box .list_r .onlybox .el-input__suffix {
            height: 22px; }
            .Info_div_box .info_box .list_box .list_r .onlybox .el-input__prefix i, .Info_div_box .info_box .list_box .list_r .onlybox .el-input__suffix i {
              height: 22px;
              line-height: 22px; }
    .Info_div_box .info_box .list_l2 {
      height: 80px;
      line-height: 80px;
      border: none; }
      .Info_div_box .info_box .list_l2 .list_l {
        line-height: 80px; }
    .Info_div_box .info_box .imgbox {
      height: 90px; }
      .Info_div_box .info_box .imgbox .list_l {
        line-height: 90px; }
      .Info_div_box .info_box .imgbox .list_r .pic1 {
        display: block;
        width: 100px;
        height: 78px; }
      .Info_div_box .info_box .imgbox .list_r .pic {
        display: block;
        width: 55px;
        height: 74px; }

.control_wear {
  width: 984px;
  height: 24px;
  padding: 0px 363px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }
  .control_wear .btn1, .control_wear .btn2, .control_wear .btn3 {
    font-size: 16px;
    height: 24px;
    text-align: center;
    line-height: 22px; }
  .control_wear .btn1 {
    width: 50px;
    background-color: #169bd8;
    color: #ffffff; }
  .control_wear .btn2 {
    width: 120px;
    border: solid 1px #999999;
    background-color: transparent; }
  .control_wear .btn3 {
    width: 50px;
    border: solid 1px #999999;
    background-color: transparent; }

#vague .search_options_box, #accurate .search_options_box {
  min-width: 1010px;
  height: 150px;
  background-color: #f1f2f6;
  padding-top: 28px; }
  #vague .search_options_box .search_main_left, #accurate .search_options_box .search_main_left {
    float: left; }
    #vague .search_options_box .search_main_left .options_box, #accurate .search_options_box .search_main_left .options_box {
      height: 22px; }
      #vague .search_options_box .search_main_left .options_box .opstions, #accurate .search_options_box .search_main_left .options_box .opstions {
        margin-left: 20px;
        float: left; }
        #vague .search_options_box .search_main_left .options_box .opstions .op_name, #accurate .search_options_box .search_main_left .options_box .opstions .op_name {
          float: left;
          color: #454545;
          font-size: 16px; }
        #vague .search_options_box .search_main_left .options_box .opstions .select_box, #accurate .search_options_box .search_main_left .options_box .opstions .select_box {
          width: 148px;
          height: 22px;
          float: left;
          color: #29a9f5;
          font-size: 14px;
          margin-left: 10px;
          background-color: #f1f2f6; }
          #vague .search_options_box .search_main_left .options_box .opstions .select_box .el-input__inner, #accurate .search_options_box .search_main_left .options_box .opstions .select_box .el-input__inner {
            width: 148px;
            height: 22px;
            border: solid 1px #53b1dc;
            border-radius: 0px; }
    #vague .search_options_box .search_main_left .mg_top, #accurate .search_options_box .search_main_left .mg_top {
      margin-top: 28px; }
  #vague .search_options_box .search_btn, #accurate .search_options_box .search_btn {
    float: left;
    width: 62px;
    height: 26px;
    background-color: #169bd8;
    line-height: 26px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-left: 170px; }
#vague .proLists_title, #accurate .proLists_title {
  height: 28px;
  margin-top: 20px;
  margin-bottom: 20px; }
  #vague .proLists_title .shu, #accurate .proLists_title .shu {
    width: 4px;
    height: 100%;
    background-color: #169bd8;
    float: left; }
  #vague .proLists_title .text, #accurate .proLists_title .text {
    font-size: 18px;
    color: #454545;
    line-height: 28px;
    float: left;
    margin-left: 4px; }
#vague .search_box, #accurate .search_box {
  width: 100%;
  height: 26px;
  text-align: right;
  margin-bottom: 10px; }
  #vague .search_box .sbox, #accurate .search_box .sbox {
    width: 140px;
    float: right;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #cccccc; }
    #vague .search_box .sbox .search, #accurate .search_box .sbox .search {
      width: 116px;
      height: 24px;
      border: none;
      padding: 0px 6px;
      outline: none; }
    #vague .search_box .sbox i, #accurate .search_box .sbox i {
      font-size: 24px;
      color: #6ecffa; }
#vague .lists_table_box, #accurate .lists_table_box {
  min-width: 1010px;
  color: #454545;
  border-collapse: collapse; }
  #vague .lists_table_box thead, #accurate .lists_table_box thead {
    width: 100%;
    background-color: #f1f8ff; }
    #vague .lists_table_box thead tr, #accurate .lists_table_box thead tr {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      color: #454545;
      background-color: #f1f8ff;
      letter-spacing: 1px;
      text-align: center; }
      #vague .lists_table_box thead tr th, #accurate .lists_table_box thead tr th {
        padding: 0px 10px; }
  #vague .lists_table_box tbody tr, #accurate .lists_table_box tbody tr {
    height: 38px;
    line-height: 38px;
    color: #666666;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left; }
    #vague .lists_table_box tbody tr td, #accurate .lists_table_box tbody tr td {
      padding: 0px 10px; }
    #vague .lists_table_box tbody tr .bl, #accurate .lists_table_box tbody tr .bl {
      color: #6ecffa;
      text-decoration: underline; }
      #vague .lists_table_box tbody tr .bl:hover, #accurate .lists_table_box tbody tr .bl:hover {
        cursor: pointer; }
#vague .end_box, #accurate .end_box {
  width: 1010px; }
  #vague .end_box .end, #accurate .end_box .end {
    width: 266px;
    margin: 0 auto;
    margin-top: 42px; }
    #vague .end_box .end .name_box, #accurate .end_box .end .name_box {
      float: left; }
      #vague .end_box .end .name_box .name, #accurate .end_box .end .name_box .name {
        height: 22px;
        line-height: 22px;
        font-size: 16px;
        color: #454545;
        float: left;
        margin-bottom: 60px; }
      #vague .end_box .end .name_box .int_name, #accurate .end_box .end .name_box .int_name {
        width: 118px;
        height: 22px;
        border: solid 1px #53b1dc;
        line-height: 20px;
        padding-left: 6px; }
    #vague .end_box .end .saveTeamName, #accurate .end_box .end .saveTeamName {
      display: block;
      float: left;
      width: 50px;
      height: 24px;
      background-color: #169bd8;
      text-align: center;
      line-height: 24px;
      font-size: 16px;
      color: #ffffff;
      margin-left: 34px; }

/*# sourceMappingURL=common.css.map */
